fedora-bootc
fedora-claude
fedora-minimal/fedora-minimal
fedora-minimal/fedora-minimal.efi
fedora-minimal/fedora-minimal.initrd
fedora-minimal/fedora-minimal.raw
fedora-minimal/fedora-minimal.vmlinuz
*/mkosi.cache
*/.mkosi-private